*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    padding: 1.6rem 0;
    width: 60vw;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "header header sidebar"
    "content content sidebar"
    "content content sidebar";
}


header{
    background-color: blue;    
    grid-area: header;
}

section{
    background-color: gray;
    grid-area: sidebar;
}

#content{
    background-color: black;
    grid-area: content;
}